[submodule "mywork"]
	path = mywork
	url = git@192.168.31.10:module/mywork.git
[submodule "odoo-robot-framework"]
	path = odoo-robot-framework
	url = git@192.168.31.10:odoo/odoo-robot-framework.git
[submodule "odoo_doc"]
	path = odoo_doc
	url = git@192.168.31.10:doc/odoo_doc.git
